.wrapper {
    margin-left: 80px;
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Mobile styles */
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
}