.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: linear-gradient(180deg, #6F2FF7 0%, #411C91 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.sidebarMenu li {
    margin: 20px 0;
}

/* Not displaying on mobile devices */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}