.wrapper {
    margin-left: 80px;
    width: calc(100% - 80px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Mobile styles */
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        margin-left: 0;
    }
}