.input-gap {
    row-gap: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 20px;
}

.input-wrapper .input-header p {
    font-size: 24px;
    font-family: 'Phantom Sans', sans-serif;
    color: white;
    margin: 0 0 4px;
}

.input-wrapper .input-container .input input,
.input-wrapper .input-container .input textarea {
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Phantom Sans', sans-serif;
    color: rgba(0, 0, 0, 0.60);


    width: 100%;
}

.input-wrapper .input-container .input {
    flex-grow: 1;
}

.invalid::placeholder {
    color: var(--red);
}

.input-wrapper .input-container {
    
    display: flex;

    align-items: center;

    outline: 1.5px solid rgba(58, 62, 80, 0.20);
    background-color: #F3F3F3;

    border-radius: 10px;
}

.input-wrapper .input-container .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; 
}

.input-wrapper .input-container .icon svg {
    color: #3A3E50;
    height: 32px;
}

.support-wrapper .input-wrapper {
    width: 80%;
}

#inputGroup {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}


/* Mobile styles */
@media (max-width: 768px) {
    .input-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}