.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header .content {
    display: flex;
    flex-direction: column;
}

.header .content .title h1 {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    color: white;
}

.header .content .description p {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    color: white;
    opacity: .7;
}

.header .content .members {
    display: flex;
    align-items: center;
}

.header .content .members .icon {
    width: 25px;
    height: 25px;
    color: white;
}

.header .members .count p {
    font-family: 'Phantom Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: white;
}

.header .settings {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .settings .icon {
    width: 25px;
    height: 25px;
    color: white;
    transition: color 0.1s ease;
}

.header .settings .icon:hover {
    color: #9f74fc;
    transition: color 0.1s ease;
}

.header .content .title .icon p {
    display: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        justify-content: center;
        width: fit-content;
    }

    .header .content .title h1 {
        text-align: center;
    }

    .header .content .description p {
        display: none;
    }

    .header .content .title .icon p {
        display: block;
        font-size: 50px;
        text-align: center;
    }
}